body,html {
    margin:0;
    padding:0;
  }

.navearth{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navigator{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    color:white;
    background-color: #F55A5A;
    height: 75px;
}

.TblockImage{
    width: 150px;
    height: 300px;
    border-radius: 10px;
}

.travelBlock{
    border-bottom: 1px solid black;
    width: 1000px;
    display: flex;
    padding-bottom: 15px;
    gap:10px;
}

.mainBoard{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}